<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
 <div class="header">
 	<h1>Ak Tastic</h1>
 	<p>Un artista que tiene su manera para ver el mundo</p>
 </div>
 <div class="menu">
 	<a href="layout.html">Inicio</a>
 	<a href="video.html">Videos</a>
 </div>
 <div class="contenido">
   <div class="izquierda">
 	<div class="item">
 		<h2>Perfil</h2>
 		<h5>Ak Tastic/Rena; Youtuber estado unidense; animador y dibujante</h5>
 		<img src="rena" alt="" class="imagen">
</div>
			
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Informacion</h2>
				<h4>AK Tastic es un artista reconocido mayormente en Youtube por sus videos tanto de Speadpaints, Animaciones y Meme's</h4>
			</div>
		</div>
	</div>
<div class="footer">
	<h2>&copy; 2019</h2>
	</div>
</body>
</html>