<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
<link rel="stylesheet" href="estilos.css">
</head>
</head>
<body>
 <div class="menu">
 	<a href="video.html">Videos</a>
 </div>
 <div class="header">
 	<h1>Ak Tastic</h1>
 	<p>Un artista que tiene su manera para ver el mundo</p>
 </div>
 <div class="menu">
    <a href="layout.html">Inicio</a>
 	<a href="video.html">Videos</a>
 </div>
 <div class="contenido">
   <div class="izquierda">
 	<div class="item">
 		<h2>Videos, Animaciones y/o Meme´s</h2>
 		<video src="opinion.mp4" controls= "width: 300px" height="160px">
 		</video>
 		<video src="boy.mp4" controls= "width: 300px" height="160px">
 		</video>
 		<video src="fuerte.mp4" controls= "width: 300px" height="160px">
 		</video>
 		<video src="bom.mp4" controls= "width: 300px" height="160px"> 
 		</video>
 		<video src="satelite.mp4" controls= "width: 300px" height="160px">
 		</video>
 		<video src="zombie.mp4" controls= "width: 300px" height="160px">
 		</video>
 		<video src="mirame.mp4" controls= "width: 300px" height="160px">	
 		</video>
 	
</div>
			
		</div>
		</div>
	</div>
<div class="footer">
	<h2>&copy; 2019</h2>
	</div>
</body>
</body>
</html>